
<p>Create Profile</p>
<form action="/createProfile" method="POST" id = "mForm">
    <input type = "text" name = "profileName" placeholder="Type A userName..."/>
    <input type = "text" name = "age" placeholder="Type your age..."/>
    <input type = "text" name = "email" placeholder="Type your email..."/>
    <input type = "text" name = "address" placeholder="Type your Address..."/>
    <input type = "text" name = "picture" placeholder="Type your profile picture ulr..."/>
    <input type = "submit" value = "Create your Profile"/>
</form>